.main {
  margin-top: -10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  .box {
    min-height: 320px;
    .nav {
      display: flex;
      align-items: center;
      .link {
        text-transform: uppercase;
        padding-right: 14px;
        font-size: 14px;
        font-weight: bold;
        color: #767676;
        cursor: pointer;
        .line {
          display: inline-block;
          margin-left: 14px;
          font-size: 14px;
          color: #767676;
        }
      }
    }
    .title {
      font-size: 36px;
      font-weight: bold;
      margin-top: 20px;
    }
  }
  .img {
    width: 306px;
    height: 306px;
    img {
      width: 306px;
      height: 306px;
      object-fit: cover;
    }
  }
}
.line1 {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0px;
}
.container {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .link {
          padding-right: 28px;
          font-size: 16px;
          font-weight: bold;
          color: #767676;
          cursor: pointer;
          &:hover {
            color: white;
          }
        }
      }
    }
    .right {
      .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .link {
          padding-right: 28px;
          font-size: 16px;
          font-weight: bold;
          color: #767676;
          cursor: pointer;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  .list {
    width: 100%;
    margin-top: 20px;
    .item {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
      .iconPlay {
        margin: 0px 8px;
        font-size: 40px;
        margin-bottom: 6px;
        height: 100%;
      }
      .description {
        margin: 0px 8px;
        width: 220px;
        font-size: 16px;
        font-weight: bold;
        .name {
          color: white;
        }
        .author {
          color: #9b9999;
        }
      }
      .type {
        width: 220px;
        font-size: 16px;
        font-weight: bold;
        color: #9b9999;
        a {
          text-decoration: none;
          box-shadow: 0 2px transparent;
          color: #9b9999;
          &:hover {
            box-shadow: 0 2px #bdbdbd;
            color: #9b9999;
          }
        }
      }
      .type_music {
        width: 350px;
        font-size: 16px;
        font-weight: bold;
        color: #9b9999;
        a {
          text-decoration: none;
          box-shadow: 0 2px transparent;
          color: #9b9999;
          &:hover {
            box-shadow: 0 2px #bdbdbd;
            color: #9b9999;
          }
        }
      }
      .bmp {
        margin-right: 30px;
        font-size: 16px;
        font-weight: bold;
        color: #9b9999;
        width: 100px;
      }
      .time {
        width: 100px;
        font-size: 16px;
        font-weight: bold;
        color: #9b9999;
      }
      .action {
        display: flex;
        .icon {
          padding: 0px 20px;
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .list {
    .item {
      .description {
        width: 150px !important;
        .name {
          color: white;
        }
        .author {
          color: #9b9999;
        }
      }
      .type {
        width: 180px !important;
      }
      .type_music {
        width: 220px !important;
      }
      .bmp {
        margin: 0px 12px;
        margin-right: 0px !important;
      }
      .time {
        margin-left: 20px !important;
        width: 24px !important;
      }
      .action {
        margin-left: 20px !important;
      }
    }
  }
}
