.input_search{
    background-color: black !important;
    width: 100% !important;
    color: white !important;
    height: 70px;
    font-size: large;
     * {
        background-color:black !important;
        color: white !important;
        height: 100%;
        font-size: large;
    }
}
